/** CSS STYLE **/
@font-face {
  font-family: Neucha-Regular;
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: OpenSans-Italic;
  src: url("../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

:root {
  --white-color: #fff;
  --semi-transparent-white: #d7ccc0;
  --light-color: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --semi-transparent-dark: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
}

* {
  box-sizing: border-box;
}

html {
  width: 1440px;

  color: var(--dark-color);
  font-weight: 400;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  line-height: 1.6em;
}

body {
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-image {
  position: relative;
}

.bg-image::before {
  position: absolute;

  height: 100%;
  width: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.header-conteiner {
  position: relative;
  margin: 0, auto;
  padding: 100px, 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1110px;
  min-height: 909px;
}

.header-image {
  position: absolute;
  top: 55px;
  left: 461px;

  height: 525px;
}

.bg-color-light {
  background-color: var(--light-color);
}

.header-title {
  margin-top: 0;
  position: absolute;
  left: 165px;
  top: 100px;

  font-size: 72px;
  color: var(--main-color);
  font-family: Neucha-Regular, sans-serif;
  font-weight: 400;

  z-index: 1;
}

.row {
  position: absolute;
  top: 543px;
  left: 165px;
  
  display: flex;
  justify-content: space-between;
}


.btn-header {
  padding: 12px 24px;

  display: inline-block;
  width: 148px;
  height: 49px;

  color: var(--white-color);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  background-color: var(--main-color);

  cursor: pointer;
}

.flex-width-50 {
  flex-basis: 50%;
  width: 540px;
}

.dark-text {
  color: var(--dark-color);
}

.videosection {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: column;
  height: 804px;
  width: 1440px;

  z-index: 1;
}


.video-conteiner {
  text-align: center;
  height: 814px;

  background-color: var(--white-color);
}
.videotitle {
  position: absolute;

  left: 0;
  right: 0;

  font-size: 60px;
  color: var(--main-color);
  font-family: Neucha-Regular, sans-serif;
  font-weight: 400;

}

.video-description {
  position: absolute;
  left: 165px;
  top: 100px;
  padding: 0;

  display: flex;
  text-align: center;
  width: 1110px;
  height: 146px;
}

.video-p {
  position: absolute;
  top: 274px;
  left: 0;
  right: 3px;

  display: block;

  color: #212529;
}

.video-div {
  position: absolute;
  top: 330px;
  left: 261px;

  width: 919px;
  height: 569px;
}

.video {
  bottom: 100px;
  height: 569px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

#navigator {
  position: relative;
  margin: 0;
  margin-top: 5px;

  display: flex;
  height: 991px;
  width: 1440px;
}

.menu {
  margin: 0, auto;
  padding-top: 200px;
  padding: 100px, 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  width: 1440px;
  height: 991px;

  background-color: var(--main-dark-color);
}

.card-conteiner {
  position: relative;
  left: -7px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 1098px;
  height: 691px;

}

.menu-card {
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 350px;
}

.first-card {
  background-color: var(--main-dark-color);
  height: 323px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top-card {
  height: 323px;

  background-color: var(--white-color);
}

.bottom-card {
  height: 348px;

  background-color: var(--white-color);
}

.first-card-text {
  margin-top: 0;

  font-size: 52px;
  color: var(--main-color);
  line-height: 1.2em;
  font-family: Neucha-Regular, sans-serif;
  font-weight: 400;
}

.white-text {
  color: var(--white-color);
}

.card-number {
  position: relative;
  margin: 24px 0 0 0;
  padding-top: 24px;
  padding-left: 27px;
  padding-bottom: 55px;

  color: var(--main-dark-color);
  font-size: 64px;
  font-family: Neucha-Regular, sans-serif;
  font-weight: 400;

}

.card-title {
  position: relative;
  padding-left: 27px;
  padding-right: 24px;
  padding-bottom: 16px;

  color: var(--main-color);
  font-size: 34px;
  font-family: Neucha-Regular, sans-serif;
  font-weight: 400;
}

.card-text {
  position: relative;
  padding-bottom: 35px;
  padding-left: 24px;
  padding-right: 24px;
}


#ikea-effect {
  position: relative;
  margin-top: 5px;
  padding: 100px 0;

  display: flex;
  align-items: center;
  min-height: 905px;
}

#ikea-effect::before {
  position: absolute;

  height: 100%;
  width: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.light-conteiner {
  position: relative;
  margin-left: 165px;
  padding: 100px, 0;

  display: flex;
  flex-direction: column;
  width: 1110px;
  min-height: 705px;
}

.light-column-1 {
  display: flex;
  justify-content: space-between;
}

.light-column-1 p {
  margin-top: 0;
}

.light-image {
  vertical-align: middle;
}

.image-div { 
  margin-right: 30px;

  width: 578px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.text-column-1 {
  padding-top: 0px;

  display: flex;
  flex-direction: column;
  width: 502px;
}

.light-column-text1 {
  position: relative;
  
  color: var(--semi-transparent-white);
  font-family: Neucha-Regular, sans-serif;
  font-size: 24px;
}

.light-column-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;

  font-family: Neucha-Regular, sans-serif;
  font-weight: 400;
  font-size: 60px;
}

.light-column-text2 {
  position: relative;

  font-family: Neucha-Regular, sans-serif;
  font-size: 34px;
}

.light-title {
  position: relative;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px;

  justify-content: center;
  width: 1100px;
  height: 26px; 

  color: var(--white-color);
  font-size: 14px;
  font-weight: 700px;
  font-family: OpenSans, sans-serif;
  text-transform: uppercase;

  background-color: var(--brown-color);
}

.light-column-2 {
  columns: 2 540px;
}

.light-column-2 p {
  margin: 0;

  font-family: OpenSans, sans-serif;
}

/* Секция  Оптимизации */

#premature-optimization {
  position: relative;
  margin-top: 5px;
  padding: 100px 0;

  display: flex;
  align-items: center;
  min-height: 855 px;
}

#premature-optimization::before {
  position: absolute;

  height: 100%;
  width: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.dark-conteiner {
  position: relative;
  margin-left: 165px;
  padding: 100px, 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1110px;
  min-height:  auto;
}

.dark-column-1 {
  display: flex;
  justify-content: space-between;
}

.dark-column-1 p {
  margin-top: 0;
}

.dark-image {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.dark-image-div {
  width: 578px;
}

.text-column-1 {
  padding-top: 0px;

  display: flex;
  flex-direction: column;
  width: 502px;
}

.dark-column-text1 {
  position: relative;

  font-family: Neucha-Regular, sans-serif;
  font-size: 24px;
  color: var(--semi-transparent-white);
}

.dark-column-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;

  font-family: Neucha-Regular, sans-serif;
  color: var(--white-color);
  font-weight: 400;
  font-size: 60px;
}

.dark-column-text2 {
  position: relative;

  font-family: Neucha-Regular, sans-serif;
  font-size: 34px;
  color: var(--white-color);
}

.dark-title {
  position: relative;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px;
  
  justify-content: center;
  min-width: 1100px;
  height: 26px; 

  color: var(--brown-color);
  font-size: 14px;
  font-weight: 700px;
  font-family: OpenSans, sans-serif;
  text-transform: uppercase;

  background-color: var(--white-color);
}

.dark-column-2 {
  columns: 2 540px;
}

.dark-column-2 p {
  margin: 0;

  font-family: OpenSans, sans-serif;
  color: var(--white-color);
}

.bg-color-dark {
  background-color: var(--brown-color);
}

/* Секция Искажение новизны */

#distortion-of-novelty {
  position: relative;
  margin-top: 5px;
  padding: 100px 0;

  display: flex;
  align-items: center;
  min-height: 880px;
}

#distortion-of-novelty::before {
position: absolute;

height: 100%;
min-height: auto;
width: 100%;

background-image: url("../images/background.png");
background-repeat: no-repeat;
background-size: cover;

opacity: 0.1;

content: "";
}

#distortion-conteiner {
  min-height: 680px;
}

/* Секция Гиперболическое обесценивание */

#hyperbolic-depreciation {
  position: relative;
  margin-top: 5px;
  padding: 100px 0;

  display: flex;
  align-items: center;
  min-height: 937px;
}

#hyperbolic-depreciation::before {
position: absolute;

height: 100%;
min-height: auto;
width: 100%;

background-image: url("../images/background.png");
background-repeat: no-repeat;
background-size: cover;

opacity: 0.1;

content: "";
}

#hyperbolic-conteiner {
  min-height: 737px;
}

/* Секция Ошибка планирования*/

#errors-in-planning {
  position: relative;
  margin-top: 5px;
  padding: 100px 0;

  min-height: 919px;
  display: flex;
  align-items: center;
}

#errors-in-planning::before {
position: absolute;

height: 100%;
min-height: auto;
width: 100%;

background-image: url("../images/background.png");
background-repeat: no-repeat;
background-size: cover;

opacity: 0.1;

content: "";
}

#errors-conteiner {
  min-height: 719px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 581px;
}

.footer-conteiner {
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 190px;

  background-color: var(--main-dark-color);

  color: var(--white-color);
}

.footer-conteiner h1 {
  position: relative;
  margin: 55px 0 0 55px;

  display: flex;
  justify-content: space-between;

  font-family: Neucha-Regular, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2em;
}

.form-conteiner {
  width: 548px;
  height: 50px;
}

input {
  margin: 15px 0;
  padding: 0;

  height: 50px;
  width: 423px;

  border: none;
}

input::placeholder {
  padding-left: 15px;
  
  color: var(--semi-transparent-dark);
  font-size: 13.1px;
  line-height: 20.96px;
}

.sending-button {
  position: absolute;
  padding: 0;
  margin-top: 15px;

  height: 50px;
  width: 70px;

  background-color: var(--main-color);

  border: none;
}

.sending-button::before {
  width: 24px;
  height: 24px;
  left: 23px;

  display: block;

  background-image: url('../images/send.svg');
  background-repeat: no-repeat;
  position: relative;

  content: "";
}

.email-p {
  margin-top: 38px;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 28.8px;
}

.footer-btn-p {
  margin-top: 15px;

  font-size: 12px;
  line-height: 19.2px;
}

.service-rules {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.footer-information {
  margin-top: 0;
  margin-bottom: 97px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 471px;
  height: 98px;

  font-size: 14px;
}

.author-name {
  position: relative;
  top: -20px;

  font-size: 14px;
  line-height: 22.4px;

}

.href-yash {
  position: relative;
  top: 0;
}

.href-courses {
  position: relative;
  top: 20px;
}

.footer-hrefs {
  color: var(--blue-color);
  font-size: 14px;
  line-height: 22.4px;

  text-decoration: underline;
  text-decoration-thickness: 1px;
}

/*Atomic CSS */

.gap-30 {
  gap: 30px;
}

.line-h {
  line-height: 1.2em;
}

.mrg-0 {
  margin: 0;
}

.mt-1-5 {
  margin-top: 1.5rem;
}
